<div class="table-responsive text-nowrap mt-2">
    <table class="table-sm table-borderless js-table-addOn" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rate</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each addOns}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>{{rate}}</td>
                <td>{{type}}</td>
                <td class="text-center">
                    <button type="button"
                        class="btn p-1 blue darken-2 text-white m-0 mr-2 z-depth-0 js-update-addOn-button"
                        data-id="{{_id}}" data-name="{{name}}" data-rate="{{rate}}" data-type="{{type}}"
                        data-toggle="modal" data-target=".js-update-addOn-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px"
                            height="18px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z" />
                        </svg>
                    </button>
                    <button type="button" class="btn p-1 red darken-3 text-white m-0 z-depth-0 js-delete-addOn-button"
                        data-id="{{_id}}" data-name="{{name}}" data-rate="{{rate}}" data-type="{{type}}"
                        data-toggle="modal" data-target=".js-delete-addOn-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px"
                            height="18px">
                            <path d="M0 0h24v24H0V0z" fill="none" />
                            <path
                                d="M14.12 10.47L12 12.59l-2.13-2.12-1.41 1.41L10.59 14l-2.12 2.12 1.41 1.41L12 15.41l2.12 2.12 1.41-1.41L13.41 14l2.12-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z" />
                        </svg>
                    </button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>