<div class="border rounded p-4">
    <div class="table-responsive text-nowrap">
        <table class="table js-table-tenant" style="width: 100%;">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Room</th>
                    <th class="text-right">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each tenants}}
                <tr>
                    <td>{{first_name}} {{last_name}}</td>
                    <td>{{birthday}}</td>
                    <td>{{mobile}}</td>
                    <td>{{email}}</td>
                    <td>{{room.name}}</td>
                    <td class="text-right">
                        <button type="button"
                            class="btn btn-sm blue darken-2 text-white m-0 mr-2 z-depth-0 js-update-tenant-button"
                            data-id="{{_id}}" data-firstname="{{first_name}}" data-lastname="{{last_name}}"
                            data-birthday="{{birthday}}" data-mobile="{{mobile}}" data-email="{{email}}"
                            data-room="{{room._id}}" data-toggle="modal" data-target=".js-update-tenant-modal">
                            Edit
                        </button>
                        <button type="button"
                            class="btn btn-sm red darken-3 text-white m-0 z-depth-0 js-delete-tenant-button"
                            data-id="{{_id}}" data-firstname="{{first_name}}" data-lastname="{{last_name}}"
                            data-birthday="{{birthday}}" data-mobile="{{mobile}}" data-email="{{email}}"
                            data-room="{{room._id}}" data-roomname="{{room.name}}" data-roomfloor="{{room.floor}}"
                            data-toggle="modal" data-target=".js-delete-tenant-modal">
                            Delete
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>