<!-- Main -->
<main class="wrapper">
    {{>sidebar}}
    <!-- Content -->
    <section class="content-wrapper" id="property">

        {{>topbar}}

        <!-- Main Content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <header>
                            <h4>{{property.name}}</h4>
                            <div class="d-flex align-items-center">
                                <img class="icon mr-2" src="/images/icons/location_on-white-18dp.svg" alt="">
                                <span>{{property.location}}</span>
                            </div>
                        </header>
                        <nav class="navbar" id="property-topbar">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="room-tab" data-toggle="tab" href="#room" role="tab"
                                        aria-controls="room" aria-selected="true">
                                        <img class="icon" src="/images/icons/room-white-18dp.svg" alt="">
                                        Room
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tenant-tab" data-toggle="tab" href="#tenant" role="tab"
                                        aria-controls="tenant" aria-selected="false"><img class="icon"
                                            src="/images/icons/account_circle-white-18dp.svg" alt="">
                                        Tenant
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking" role="tab"
                                        aria-controls="booking" aria-selected="false">
                                        <img class="icon" src="/images/icons/menu_book-white-18dp.svg" alt="">
                                        Booking
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                                        aria-controls="settings" aria-selected="false">
                                        <img class="icon" src="/images/icons/settings-white-18dp.svg" alt="">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <section class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="room" role="tabpanel" aria-labelledby="room-tab">
                                <div id="demo-html"></div>
                                <table id="tableRoom" class="table table-borderless table-striped">
                                    <thead>
                                        <tr>
                                            <th>Room</th>
                                            <th>Floor</th>
                                            <th>Catalog</th>
                                            <th>Rate</th>
                                            <th>Tenant</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each rooms}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{floor}}</td>
                                            <td>{{catalog.name}}</td>
                                            <td>{{catalog.rate}}</td>
                                            {{#if tenant}}
                                            <td>
                                                <div
                                                    style="margin: 0 auto; padding: .5rem; text-align: center; background-color: #AD4857;  border-radius: 3px;">
                                                    <span>{{tenant.first_name}} {{tenant.last_name}}</span>
                                                </div>
                                            </td>
                                            {{else}}
                                            <td>
                                                <div
                                                    style="margin: 0 auto; padding: .5rem; text-align: center; background-color: #088745;  border-radius: 3px;">
                                                    <span>Available</span>
                                                </div>
                                            </td>
                                            {{/if}}
                                            <td>
                                                <button class="btn p-3 m-0 z-depth-0" id="editRoomButton"
                                                    data-id="{{_id}}" data-name="{{name}}" data-floor="{{floor}}"
                                                    data-catalog="{{catalog}}" data-catalogid="{{catalog._id}}"
                                                    data-catalogname="{{catalog.name}}"
                                                    data-catalograte="{{catalog.rate}}" data-toggle="modal"
                                                    data-target="#editRoomModal">
                                                    <img class="icon m-0" src="/images/icons/create-white-18dp.svg"
                                                        alt="">
                                                </button>
                                                <button class="btn p-3 m-0 z-depth-0" id="deleteRoomButton"
                                                    data-id="{{_id}}" data-name="{{name}}" data-tenant="{{tenant._id}}"
                                                    data-floor="{{floor}}" data-catalog="{{catalog}}"
                                                    data-catalogid="{{catalog._id}}" data-catalogname="{{catalog.name}}"
                                                    data-catalograte="{{catalog.rate}}" data-toggle="modal"
                                                    data-target="#deleteRoomModal">
                                                    <img class="icon m-0"
                                                        src="/images/icons/delete_forever-white-18dp.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tenant" role="tabpanel" aria-labelledby="tenant-tab">
                                <table id="tableTenant" class="table table-borderless table-striped">
                                    <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each tenants}}
                                        <tr>
                                            <td>{{first_name}}</td>
                                            <td>{{last_name}}</td>
                                            <td>{{age}}</td>
                                            <td>{{contact}}</td>
                                            <td>{{email}}</td>
                                            <td>
                                                <button type="button" class="btn p-3 m-0 z-depth-0">
                                                    <img class="icon m-0" src="/images/icons/create-white-18dp.svg"
                                                        alt="">
                                                </button>
                                                <button type="button" class="btn p-3 m-0 z-depth-0">
                                                    <img class="icon m-0"
                                                        src="/images/icons/delete_forever-white-18dp.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="booking" role="tabpanel" aria-labelledby="booking-tab">
                                <table id="tableBooking" class="table table-borderless table-striped">
                                    <thead>
                                        <tr>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Age</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each tenants}}
                                        <tr>
                                            <td>{{first_name}}</td>
                                            <td>{{last_name}}</td>
                                            <td>{{age}}</td>
                                            <td>{{contact}}</td>
                                            <td>{{email}}</td>
                                            <td>
                                                <button type="button" class="btn p-3 m-0 z-depth-0">
                                                    <img class="icon m-0" src="/images/icons/create-white-18dp.svg"
                                                        alt="">
                                                </button>
                                                <button type="button" class="btn p-3 m-0 z-depth-0">
                                                    <img class="icon m-0"
                                                        src="/images/icons/delete_forever-white-18dp.svg" alt="">
                                                </button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">

                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>



<script>
    // Edit and delete rooms
    $(document).on("click", "#editRoomButton, #deleteRoomButton", function () {
        let _id = $(this).data('id');
        let name = $(this).data('name');
        let floor = $(this).data('floor');
        let catalogid = $(this).data('catalogid');
        let catalogname = $(this).data('catalogname');
        let catalograte = $(this).data('catalograte');

        // Edit
        $("#inputEditRoom_id").val(_id);
        $("#inputEditRoomName").val(name);
        $("#inputEditRoomFloor").val(floor);
        $(`#selectEditRoomCatalog option[value=${catalogid}]`).prop('selected', true).text(catalogname + ' - ' + catalograte + ' (Current)')

        // Delete
        $("#inputDeleteRoom_id").val(_id);
        $("div #spanDeleteRoomName").text(name);
        $("div #spanDeleteRoomFloor").text(floor);
        $("div #spanDeleteRoomCatalogName").text(catalogname);
        $("div #spanDeleteRoomCatalogRate").text(catalograte);

        console.log(_id)
    });


    // DataTables
    $('#tableRoom').DataTable({
        "dom": '<"d-flex justify-content-between align-items-center mb-3"Bf>t<"d-flex justify-content-between align-items-center mt-4"ip>',
        "buttons": {
            dom: {
                button: {
                    tag: 'button',
                    className: 'btn'
                }
            },
            buttons: [
                {

                    className: 'btn-custom m-0 z-depth-0',
                    text: `Add room`,
                    action: function (e, dt, node, config) {
                        $('#addRoomModal').modal('show')
                    }
                }
            ]
        },
        "pageLength": 10,
        "order": [[0, "asc"]]
    });

    $('#tableTenant').DataTable({
        "dom": '<"d-flex justify-content-between align-items-center mb-3"Bf>t<"d-flex justify-content-between align-items-center mt-4"ip>',
        "buttons": {
            dom: {
                button: {
                    tag: 'button',
                    className: 'btn'
                }
            },
            buttons: [
                {

                    className: 'btn-custom m-0 z-depth-0',
                    text: `Add tenant`,
                    action: function (e, dt, node, config) {
                        $('#addTenantModal').modal('show')
                    }
                }
            ]
        },
        "pageLength": 10
    });

    $('#tableBooking').DataTable({
        "dom": '<"d-flex justify-content-end align-items-center mb-3"f>t<"d-flex justify-content-between align-items-center mt-4"ip>',
        "pageLength": 10
    });
</script>

<!-- Modal -->
{{>modals/property/add/room}}
{{>modals/property/edit/room}}
{{>modals/property/delete/room}}