<!-- Edit tenant modal -->
<form action="/user/property/tenant/edit" method="POST">
    <div class="modal fade" id="editTenantModal" tabindex="-1" role="dialog" aria-labelledby="editTenantModal"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit tenant</h4>
                </div>
                <div class="modal-body">
                    <div class="row m-2">
                        <div class="col-md-6">
                            <div>
                                <header>
                                    <h5>Personal information</h5>
                                </header>
                                <section>
                                    <div class="md-form mt-3 mb-3">
                                        <label for="inputEditTenantFirstName">First name</label>
                                        <input class="form-control" name="first_name" type="text"
                                            id="inputEditTenantFirstName" value="placeholder" required>
                                        <input class="form-control" name="_id" type="hidden" id="inputEditTenant_id"
                                            value="placeholder" required>
                                        <input class="form-control" name="currentRoom" type="hidden"
                                            id="inputEditTenantRoom" value="placeholder" required>
                                        <input class="form-control" name="property" type="hidden"
                                            value="{{property._id}}" required>
                                    </div>
                                    <div class="md-form mb-4">
                                        <label for="inputEditTenantLastName">Last name</label>
                                        <input class="form-control" name="last_name" type="text"
                                            id="inputEditTenantLastName" value="placeholder" required>
                                    </div>
                                </section>
                            </div>
                            <div>
                                <header>
                                    <h5>Contact information</h5>
                                </header>
                                <section>
                                    <div class="md-form mt-3 mb-3">
                                        <label for="inputEditTenantMobile">Mobile</label>
                                        <input class="form-control" name="mobile" type="text" id="inputEditTenantMobile"
                                            value="placeholder" required>
                                    </div>
                                    <div class="md-form mb-4">
                                        <label for="inputEditTenantEmail">Email</label>
                                        <input class="form-control" name="email" type="email" id="inputEditTenantEmail"
                                            value="placeholder" required>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <header>
                                <h5>Room information</h5>
                            </header>
                            <section>
                                <div class="form-group mb-3">
                                    <label class="select-label" for="selectEditTenantRoom">Room</label>
                                    <div class="md-form">
                                        <select class="form-control" name="room" id="selectEditTenantRoom"
                                            value="placeholder" required>
                                            {{#if rooms}}
                                            {{#each rooms }}
                                            <option value="{{_id}}" {{#if tenant}} class="occupied" disabled {{/if}}>
                                                {{name}} -
                                                {{catalog.name}} - Php{{catalog.rate}}
                                            </option>
                                            {{/each}}
                                            {{else}}
                                            <option value="" disabled><span>No rooms found.</span></option>
                                            {{/if}}
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-custom">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>