{{>topbar}}

<!-- Main -->
<main class="property">

    {{>sidebar}}

    <!-- Content -->
    <section class="content">
        {{#if properties}}

        {{#each properties}}
        <div class="property-card">
            <div class="property-about">
                <div class="property-image">
                    <img src="/uploads/property/{{avatar}}" alt="">
                </div>
                <div class="property-description">
                    <h4>{{name}}</h4>
                    <div class="location">
                        <img src="/images/icons/location.svg" alt="">
                        <span>{{location}}</span>
                    </div>
                    <p>
                        {{about}}
                    </p>
                </div>
            </div>
            <div class="property-summary">
                <div class="property-summary-row">
                    <div class="property-summary-col">
                        <div class="property-summary-wrapper">
                            <div class="icon">
                                <img src="/images/icons/bed.svg" alt="">
                                <span>Room:</span>
                            </div>
                            <span>{{room}}</span>
                        </div>
                        <div class="property-summary-wrapper">
                            <div class="icon">
                                <img src="/images/icons/checked.svg" alt="">
                                <span>Available:</span>
                            </div>
                            <span>{{available}}</span>
                        </div>
                        <div class="property-summary-wrapper">
                            <div class="icon">
                                <img src="/images/icons/cancel.svg" alt="">
                                <span>Occupied:</span>
                            </div>
                            <span>{{occupied}}</span>
                        </div>
                    </div>
                    <div class="property-summary-col">
                        <div class="property-summary-wrapper">
                            <div class="icon">
                                <img src="/images/icons/user.svg" alt="">
                                <span>Resident:</span>
                            </div>
                            <span>{{resident}}</span>
                        </div>
                        <div class="property-summary-wrapper">
                            <div class="icon">
                                <img src="/images/icons/book.svg" alt="">
                                <span>Booking:</span>
                            </div>
                            <span>{{booking}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        {{else}}
        <div class="message">
            <span>There are currently no property under your account.</span>
        </div>

        {{/if}}
    </section>

    {{>modals/add_modal}}

</main>