<!-- Main -->
<main class="wrapper">

    {{>sidebar}}

    <!-- Content -->
    <section class="content-wrapper" id="management">

        {{>topbar}}

        <!-- Main Content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 p-0">
                        <table id="tableProperty" class="table table-borderless table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each properties}}
                                <tr>
                                    <td>
                                        <a href="/property/{{_id}}">{{name}}</a>
                                    </td>
                                    <td>{{location}}</td>
                                    <td>
                                        <button type="button" class="btn p-3 z-depth-0" id="editPropertyButton"
                                            data-id="{{_id}}" data-name="{{name}}" data-location="{{location}}"
                                            data-toggle="modal" data-target="#editPropertyModal">
                                            <img class="icon m-0" src="/images/icons/create-white-18dp.svg" alt="">
                                        </button>
                                        <button type="button" class="btn p-3 z-depth-0" id="deletePropertyButton"
                                            data-id="{{_id}}" data-name="{{name}}" data-location="{{location}}"
                                            data-toggle="modal" data-target="#deletePropertyModal">
                                            <img class="icon m-0" src="/images/icons/delete_forever-white-18dp.svg"
                                                alt="">
                                        </button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>


<script>
    // Edit and delete property
    $(document).on("click", "#editPropertyButton, #deletePropertyButton", function () {
        let _id = $(this).data('id');
        let name = $(this).data('name');
        let location = $(this).data('location');

        // Edit
        $("#inputEditProperty_id").val(_id);
        $("#inputEditPropertyName").val(name);
        $("#inputEditPropertyLocation").val(location);

        // Delete
        $("#inputDeleteProperty_id").val(_id);
        $("div #spanPropertyName").text(name);
        $("div #spanPropertyLocation").text(location);

        console.log(_id)
    });

    // DataTables
    $('#tableProperty').DataTable({
        "dom": '<"d-flex justify-content-between align-items-center mb-3"Bf>t<"d-flex justify-content-between align-items-center mt-4"ip>',
        "buttons": {
            dom: {
                button: {
                    tag: 'button',
                    className: 'btn'
                }
            },
            buttons: [
                {

                    className: 'btn-custom m-0 z-depth-0',
                    text: `Add property`,
                    action: function (e, dt, node, config) {
                        $('#addPropertyModal').modal('show')
                    }
                },
            ]
        },
        "pageLength": 5
    });
</script>

<!-- Modal -->
{{>modals/property/add/property}}
{{>modals/property/edit/property}}
{{>modals/property/delete/property}}