{{#extend "layout-admin"}}

{{#content "extra_css"}}
{{/content}}

{{#content "content"}}
<div class="page page--profile">
    <div class="page__content">
        <header class="page__header">
            <h3 class="page__title">Edit your profile</h3>
        </header>
        <section class="page__body d-flex flex-wrap">
            <div class="col-lg p-0">
                <form class="form form--user-profile--update w-100" action="/api/user/profile/info/update"
                    method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" name="username" type="text" value="{{user.username}}" required>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control" name="first_name" type="text" value="{{user.first_name}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" name="last_name" type="text" value="{{user.last_name}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" name="mobile" type="text" value="{{user.mobile}}">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="email" type="email" value="{{user.email}}" required>
                    </div>
                    <button type="submit" class="btn--submit btn m-0 mt-5">Update profile</button>
                </form>
            </div>
            <div class="col-lg d-flex justify-content-center p-0">
                <div class="user">
                    <div class="user__avatar" {{#if user.avatar}}
                        style="background-image: url('data:image/png;base64,{{user.avatar.data}}');" {{/if}}>
                    </div>
                    <a class="user__button" data-toggle="modal" data-target="#editProfileModal">Change</a>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Update profile modal -->
<form class="form form--user-avatar-update" action="/api/user/profile/avatar/update" method="POST"
    enctype="multipart/form-data">
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update profile photo</h4>
                </div>
                <div class="modal-body">
                    <div class="upload">
                        <input class="upload__input" name="avatar" id="upload__photo" type="file"
                            accept="image/png, image/jpeg, image/jpg" onchange="updatePhoto(this);" required />
                        <label class="upload__label" for="upload__photo">
                            <div class="upload__photo upload__photo--current js-photo--current" {{#if user.avatar}}
                                style="background-image: url('data:image/png;base64,{{user.avatar.data}}');" {{/if}}>
                                <div id="upload-profile-photo-info">
                                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        fill="white" width="20px" height="20px">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="3.2" />
                                        <path
                                            d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
                                    </svg>
                                    <span>Upload a photo</span>
                                </div>
                            </div>
                            <div class="upload__photo upload__photo--uploaded js-photo--uploaded">
                                <div id="upload-profile-photo-info">
                                    <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        fill="white" width="20px" height="20px">
                                        <path d="M0 0h24v24H0z" fill="none" />
                                        <circle cx="12" cy="12" r="3.2" />
                                        <path
                                            d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" />
                                    </svg>
                                    <span>Upload a photo</span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn--cancel btn" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn--submit btn">Set new profile photo</button>
                </div>
            </div>
        </div>
    </div>
</form>

{{/content}}

{{#content "extra_js"}}
<script src="/js/upload-preview.js"></script>
{{/content}}

{{/extend}}