{{#extend "layout-admin"}}

{{#content "extra_css"}}
{{/content}}

{{#content "page-content"}}
<div class="page page--profile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form class="form form--user-profile--update w-100" action="/api/user/profile/info/update"
                    method="POST">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" name="username" type="text" value="{{user.username}}" required>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label>First name</label>
                                <input class="form-control" name="first_name" type="text" value="{{user.first_name}}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Last name</label>
                                <input class="form-control" name="last_name" type="text" value="{{user.last_name}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" name="mobile" type="text" value="{{user.mobile}}">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="email" type="email" value="{{user.email}}" required>
                    </div>
                    <button type="submit" class="btn btn-submit m-0 mt-5">Save</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="user">
                    <div class="user-avatar user-avatar-12x12" {{#if user.avatar}}
                        style="background-image: url('data:image/png;base64,{{user.avatar.data}}');" {{/if}}>
                        <a class="user-avatar-button" data-toggle="modal"
                            data-target=".js-edit-profile-modal">Change</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
{{> modals_profile_photo}}

{{/content}}

{{#content "extra_js"}}
<script src="/js/upload-preview.js"></script>
{{/content}}

{{/extend}}