{{#extend "layout-admin"}}

{{#content "extra_css"}}
{{/content}}

{{#content "content"}}

<!-- Content -->
<main class="wrapper" id="property" style="padding-bottom: 12rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <nav class="navbar navbar-expand-lg" id="property-topbar">
                    <header class="mb-4">
                        <span class="property-name">{{property.name}}</span class="property-name">
                        <span class="property-location">{{property.location}}</span>
                    </header>
                    <ul class="nav nav-tabs ml-auto" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard-panel"
                                role="tab" aria-controls="dashboard" aria-selected="true">
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                    width="20px" height="20px">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M19 5v2h-4V5h4M9 5v6H5V5h4m10 8v6h-4v-6h4M9 17v2H5v-2h4M21 3h-8v6h8V3zM11 3H3v10h8V3zm10 8h-8v10h8V11zm-10 4H3v6h8v-6z" />
                                </svg>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="room-tab" data-toggle="tab" href="#room-panel" role="tab"
                                aria-controls="room" aria-selected="true">
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                    width="20px" height="20px">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M19 19V4h-4V3H5v16H3v2h12V6h2v15h4v-2h-2zm-6 0H7V5h6v14zm-3-8h2v2h-2z" />
                                </svg>
                                <span>Room</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tenant-tab" data-toggle="tab" href="#tenant-panel" role="tab"
                                aria-controls="tenant" aria-selected="false">
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                    width="20px" height="20px">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
                                </svg>
                                <span>Tenant</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="booking-tab" data-toggle="tab" href="#booking-panel" role="tab"
                                aria-controls="booking" aria-selected="false">
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                    viewBox="0 0 24 24" fill="white" width="20px" height="20px">
                                    <g>
                                        <rect fill="none" height="24" width="24" />
                                    </g>
                                    <g>
                                        <g />
                                        <g>
                                            <path
                                                d="M21,5c-1.11-0.35-2.33-0.5-3.5-0.5c-1.95,0-4.05,0.4-5.5,1.5c-1.45-1.1-3.55-1.5-5.5-1.5S2.45,4.9,1,6v14.65 c0,0.25,0.25,0.5,0.5,0.5c0.1,0,0.15-0.05,0.25-0.05C3.1,20.45,5.05,20,6.5,20c1.95,0,4.05,0.4,5.5,1.5c1.35-0.85,3.8-1.5,5.5-1.5 c1.65,0,3.35,0.3,4.75,1.05c0.1,0.05,0.15,0.05,0.25,0.05c0.25,0,0.5-0.25,0.5-0.5V6C22.4,5.55,21.75,5.25,21,5z M21,18.5 c-1.1-0.35-2.3-0.5-3.5-0.5c-1.7,0-4.15,0.65-5.5,1.5V8c1.35-0.85,3.8-1.5,5.5-1.5c1.2,0,2.4,0.15,3.5,0.5V18.5z" />
                                            <g>
                                                <path
                                                    d="M17.5,10.5c0.88,0,1.73,0.09,2.5,0.26V9.24C19.21,9.09,18.36,9,17.5,9c-1.7,0-3.24,0.29-4.5,0.83v1.66 C14.13,10.85,15.7,10.5,17.5,10.5z" />
                                                <path
                                                    d="M13,12.49v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26V11.9c-0.79-0.15-1.64-0.24-2.5-0.24 C15.8,11.66,14.26,11.96,13,12.49z" />
                                                <path
                                                    d="M17.5,14.33c-1.7,0-3.24,0.29-4.5,0.83v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26v-1.52 C19.21,14.41,18.36,14.33,17.5,14.33z" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span>Booking</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings-panel" role="tab"
                                aria-controls="settings" aria-selected="false">
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                    width="20px" height="20px">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path
                                        d="M19.43 12.98c.04-.32.07-.64.07-.98 0-.34-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.09-.16-.26-.25-.44-.25-.06 0-.12.01-.17.03l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.06-.02-.12-.03-.18-.03-.17 0-.34.09-.43.25l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98 0 .33.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.09.16.26.25.44.25.06 0 .12-.01.17-.03l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.06.02.12.03.18.03.17 0 .34-.09.43-.25l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-1.98-1.71c.04.31.05.52.05.73 0 .21-.02.43-.05.73l-.14 1.13.89.7 1.08.84-.7 1.21-1.27-.51-1.04-.42-.9.68c-.43.32-.84.56-1.25.73l-1.06.43-.16 1.13-.2 1.35h-1.4l-.19-1.35-.16-1.13-1.06-.43c-.43-.18-.83-.41-1.23-.71l-.91-.7-1.06.43-1.27.51-.7-1.21 1.08-.84.89-.7-.14-1.13c-.03-.31-.05-.54-.05-.74s.02-.43.05-.73l.14-1.13-.89-.7-1.08-.84.7-1.21 1.27.51 1.04.42.9-.68c.43-.32.84-.56 1.25-.73l1.06-.43.16-1.13.2-1.35h1.39l.19 1.35.16 1.13 1.06.43c.43.18.83.41 1.23.71l.91.7 1.06-.43 1.27-.51.7 1.21-1.07.85-.89.7.14 1.13zM12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z" />
                                </svg>
                                <span>Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <section class="tab-content" id="myTabContent">
                    <div class="tab-pane show active" id="dashboard-panel" role="tabpanel"
                        aria-labelledby="dashboard-tab">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-wrap justify-content-center">
                                <div class="property-summary">
                                    <div class="content-svg rounded-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                            width="72px" height="72px">
                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                            <path
                                                d="M19 19V4h-4V3H5v16H3v2h12V6h2v15h4v-2h-2zm-6 0H7V5h6v14zm-3-8h2v2h-2z" />
                                        </svg>
                                    </div>
                                    <div class="content-body mr-3">
                                        <span class="content">{{vacant_rooms}}<span
                                                style="font-size: 1rem; line-height: 1rem;"> /
                                                {{total_rooms}}</span></span>
                                        <span class="content-title">Vacant
                                            Room(s)</span>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="content-svg rounded-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                            width="72px" height="72px">
                                            <path d="M0 0h24v24H0V0z" fill="none" />
                                            <path
                                                d="M19 19V4h-4V3H5v16H3v2h12V6h2v15h4v-2h-2zm-6 0H7V5h6v14zm-3-8h2v2h-2z" />
                                        </svg>
                                    </div>
                                    <div class="content-body mr-3">
                                        <span class="content">{{occupied_rooms}}<span
                                                style="font-size: 1rem; line-height: 1rem;"> /
                                                {{total_rooms}}</span></span>
                                        <span class="content-title">Occupied
                                            Room(s)</span>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="content-svg rounded-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                                            width="72px" height="72px">
                                            <path d="M0 0h24v24H0z" fill="none" />
                                            <path
                                                d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" />
                                        </svg>
                                    </div>
                                    <div class="content-body mr-3">
                                        <span class="content">{{total_tenants}}</span>
                                        <span class="content-title">Tenant(s)</span>
                                    </div>
                                </div>
                                <div class="property-summary">
                                    <div class="content-svg rounded-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                            viewBox="0 0 24 24" fill="white" width="72px" height="72px">
                                            <g>
                                                <rect fill="none" height="24" width="24" />
                                            </g>
                                            <g>
                                                <g />
                                                <g>
                                                    <path
                                                        d="M21,5c-1.11-0.35-2.33-0.5-3.5-0.5c-1.95,0-4.05,0.4-5.5,1.5c-1.45-1.1-3.55-1.5-5.5-1.5S2.45,4.9,1,6v14.65 c0,0.25,0.25,0.5,0.5,0.5c0.1,0,0.15-0.05,0.25-0.05C3.1,20.45,5.05,20,6.5,20c1.95,0,4.05,0.4,5.5,1.5c1.35-0.85,3.8-1.5,5.5-1.5 c1.65,0,3.35,0.3,4.75,1.05c0.1,0.05,0.15,0.05,0.25,0.05c0.25,0,0.5-0.25,0.5-0.5V6C22.4,5.55,21.75,5.25,21,5z M21,18.5 c-1.1-0.35-2.3-0.5-3.5-0.5c-1.7,0-4.15,0.65-5.5,1.5V8c1.35-0.85,3.8-1.5,5.5-1.5c1.2,0,2.4,0.15,3.5,0.5V18.5z" />
                                                    <g>
                                                        <path
                                                            d="M17.5,10.5c0.88,0,1.73,0.09,2.5,0.26V9.24C19.21,9.09,18.36,9,17.5,9c-1.7,0-3.24,0.29-4.5,0.83v1.66 C14.13,10.85,15.7,10.5,17.5,10.5z" />
                                                        <path
                                                            d="M13,12.49v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26V11.9c-0.79-0.15-1.64-0.24-2.5-0.24 C15.8,11.66,14.26,11.96,13,12.49z" />
                                                        <path
                                                            d="M17.5,14.33c-1.7,0-3.24,0.29-4.5,0.83v1.66c1.13-0.64,2.7-0.99,4.5-0.99c0.88,0,1.73,0.09,2.5,0.26v-1.52 C19.21,14.41,18.36,14.33,17.5,14.33z" />
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="content-body mr-3">
                                        <span class="content">{{total_tenants}}</span>
                                        <span class="content-title">Booking(s)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="room-panel" role="tabpanel" aria-labelledby="room-tab">
                        <div class="table-responsive-md text-nowrap">
                            <table id="tableRoom" class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Room</th>
                                        <th>Floor</th>
                                        <th>Catalog</th>
                                        <th>Rate</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each rooms}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{floor}}</td>
                                        <td>{{catalog.name}}</td>
                                        <td>Php {{catalog.rate}}</td>
                                        <td>
                                            {{#if tenant}}
                                            <div class="red darken-3 rounded-pill p-2 w-100 font-weight-normal text-center text-uppercase"
                                                style="font-size: 0.64rem;">
                                                Occupied
                                            </div>
                                            {{else}}
                                            <div class="green darken-2 rounded-pill p-2 w-100 font-weight-normal text-center text-uppercase"
                                                style="font-size: 0.64rem;">
                                                Vacant
                                            </div>
                                            {{/if}}
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-sm blue darken-2 text-white m-0 mr-2 z-depth-0"
                                                id="editRoomButton" data-id="{{_id}}" data-name="{{name}}"
                                                data-floor="{{floor}}" data-catalog="{{catalog}}"
                                                data-catalogid="{{catalog._id}}" data-catalogname="{{catalog.name}}"
                                                data-catalograte="{{catalog.rate}}" data-toggle="modal"
                                                data-target="#editRoomModal">
                                                Edit
                                            </button>
                                            <button class="btn btn-sm red darken-3 text-white m-0 z-depth-0"
                                                id="deleteRoomButton" data-id="{{_id}}" data-name="{{name}}"
                                                data-tenant="{{tenant._id}}" data-floor="{{floor}}"
                                                data-catalog="{{catalog}}" data-catalogid="{{catalog._id}}"
                                                data-catalogname="{{catalog.name}}" data-catalograte="{{catalog.rate}}"
                                                data-status="{{#if tenant}}Occupied{{else}}Vacant{{/if}}"
                                                data-toggle="modal" data-target="#deleteRoomModal">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tenant-panel" role="tabpanel" aria-labelledby="tenant-tab">
                        <div class="table-responsive-md text-nowrap">
                            <table id="tableTenant" class="table table-borderless" style="Width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Birthday</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Room</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each tenants}}
                                    <tr>
                                        <td>{{first_name}} {{last_name}}</td>
                                        <td>{{birthday}}</td>
                                        <td>{{mobile}}</td>
                                        <td>{{email}}</td>
                                        <td>{{room.name}}</td>
                                        <td class="text-center">
                                            <button type="button"
                                                class="btn btn-sm blue darken-2 text-white m-0 mr-2 z-depth-0"
                                                id="editTenantButton" data-id="{{_id}}" data-firstname="{{first_name}}"
                                                data-lastname="{{last_name}}" data-mobile="{{mobile}}"
                                                data-email="{{email}}" data-room="{{room._id}}" data-toggle="modal"
                                                data-target="#editTenantModal">
                                                Edit
                                            </button>
                                            <button type="button"
                                                class="btn btn-sm red darken-3 text-white m-0 z-depth-0"
                                                id="deleteTenantButton" data-id="{{_id}}"
                                                data-firstname="{{first_name}}" data-lastname="{{last_name}}"
                                                data-mobile="{{mobile}}" data-email="{{email}}" data-room="{{room._id}}"
                                                data-roomname="{{room.name}}" data-toggle="modal"
                                                data-target="#deleteTenantModal">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="booking-panel" role="tabpanel" aria-labelledby="booking-tab">
                        <a class="btn btn-custom m-0 mb-3 text-nowrap" style="float: left;"
                            href="/booking/{{property.bookingId}}" target="_blank">
                            Booking Link
                        </a>
                        <div class="table-responsive-md text-nowrap">
                            <table id="tableBooking" class="table table-borderless" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Birthday</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Preferred Room</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each bookings}}
                                    <tr>
                                        <td>{{last_name}}, {{first_name}}</td>
                                        <td>{{birthday}}</td>
                                        <td>{{mobile}}</td>
                                        <td>{{email}}</td>
                                        <td>{{catalog.name}}</td>
                                        <td class="text-center">
                                            <button type="button"
                                                class="btn btn-sm green darken-2 text-white m-0 mr-2 z-depth-0">
                                                accept
                                            </button>
                                            <button type="button"
                                                class="btn btn-sm  red darken-3 text-white m-0 z-depth-0">
                                                decline
                                            </button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings-panel" role="tabpanel" aria-labelledby="settings-tab">
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- Add room modal -->
    <form action="/api/room/add" method="POST">
        <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-2 mb-2">
                            <label class="select-label" for="catalog">Catalog</label>
                            <div class="form-group">
                                <select class="form-control" name="catalog" id="catalog" required>
                                    {{#if catalogs}}
                                    {{#each catalogs}}
                                    <option value="{{_id}}">{{name}} - Php{{rate}}</option>
                                    {{/each}}
                                    {{else}}
                                    <option value="" disabled><span>No catalogs found.</span></option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="number">Number of rooms</label>
                            <input class="form-control" name="number" type="number" id="number" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="floor">Floor</label>
                            <input class="form-control" name="floor" type="number" id="floor" required>
                            <input class="form-control" name="property" type="hidden" value="{{property._id}}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-custom">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Update room modal -->
    <form action="/api/room/update" method="POST">
        <div class="modal fade" id="editRoomModal" tabindex="-1" role="dialog" aria-labelledby="editRoomModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-2 mb-3">
                            <label for="inputEditRoomName">Name</label>
                            <input class="form-control" name="name" type="text" id="inputEditRoomName"
                                value="placeholder_value" required>
                            <input class="form-control" name="_id" id="inputEditRoom_id" type="hidden" required>
                            <input class="form-control" name="property" type="hidden" value="{{property._id}}" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inputEditRoomFloor">Floor</label>
                            <input class="form-control" name="floor" type="text" id="inputEditRoomFloor"
                                value="placeholder_value" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="select-label" for="selectEditRoomCatalog">Catalog</label>
                            <div class="form-group">
                                <select class="form-control" name="catalog" id="selectEditRoomCatalog" required>
                                    {{#if catalogs}}
                                    {{#each catalogs}}
                                    <option value="{{_id}}">{{name}} - Php{{rate}}</option>
                                    {{/each}}
                                    {{else}}
                                    <option value="" disabled><span>No catalogs found.</span></option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-custom">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete room modal -->
    <form action="/api/room/delete" id="roomDeletionForm" method="POST">
        <div class="modal fade" id="deleteRoomModal" tabindex="-1" role="dialog" aria-labelledby="deleteRoomModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Room</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" name="_id" id="inputDeleteRoom_id" type="hidden" required>
                        <input class="form-control" name="property" type="hidden" value="{{property._id}}" required>
                        <span class="font-weight-normal">Room information</span>
                        <div class="table-responsive">
                            <table class="table-sm table-borderless mt-2" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td class="td-title">Room</td>
                                        <td class="td-content"><span id="spanDeleteRoomName"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Floor</td>
                                        <td class="td-content"><span id="spanDeleteRoomFloor"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Catalog</td>
                                        <td class="td-content"><span id="spanDeleteRoomCatalogName"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Rate</td>
                                        <td class="td-content"><span id="spanDeleteRoomCatalogRate"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Status</td>
                                        <td class="td-content"><span id="spanDeleteRoomStatus"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mt-4">
                            <span class="font-weight-normal" style="font-size: 14px;">Note:</span>
                            <p class="mt-2 pt-3 pr-2 pb-3 pl-2 rounded border border-white" style="font-size: 14px;">
                                Rooms that are currently <span
                                    class="red-text font-weight-bold font-italic">occupied</span>
                                cannot be
                                deleted.
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn red darken-3 text-white">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Add tenant modal -->
    <form action="/api/tenant/add" method="POST">
        <div class="modal fade" id="addTenantModal" tabindex="-1" role="dialog" aria-labelledby="addTenantModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add tenant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row m-2">
                            <div class="col-md-6">
                                <div>
                                    <header>
                                        <h5>Personal information</h5>
                                    </header>
                                    <section>
                                        <div class="form-group mt-3 mb-2">
                                            <label for="first_name">First name</label>
                                            <input class="form-control" name="first_name" type="text" id="first_name"
                                                required>
                                            <input class="form-control" name="property" type="hidden"
                                                value="{{property._id}}" required>
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="last_name">Last name</label>
                                            <input class="form-control" name="last_name" type="text" id="last_name"
                                                required>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="birthday">Birthday</label>
                                            <input class="form-control" name="birthday" type="date" id="birthday"
                                                required>
                                        </div>
                                    </section>
                                </div>
                                <div>
                                    <header>
                                        <h5>Contact information</h5>
                                    </header>
                                    <section>
                                        <div class="form-group mt-3 mb-2">
                                            <label for="mobile">Mobile</label>
                                            <input class="form-control" name="mobile" type="number" id="mobile"
                                                required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="email">Email</label>
                                            <input class="form-control" name="email" type="email" id="email" required>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <header>
                                    <h5>Room information</h5>
                                </header>
                                <section>
                                    <div class="form-group mb-2">
                                        <label class="select-label" for="room">Room</label>
                                        <div class="form-group">
                                            <select class="form-control" name="room" id="room" required>
                                                {{#if rooms}}
                                                {{#each rooms }}
                                                <option value="{{_id}}" {{#if tenant}} disabled {{/if}}>{{name}} -
                                                    Floor {{floor}} - {{catalog.name}} - Php{{catalog.rate}}
                                                </option>
                                                {{/each}}
                                                {{else}}
                                                <option value="" disabled><span>No rooms available.</span></option>
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-custom">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Update tenant modal -->
    <form action="/api/tenant/update" method="POST">
        <div class="modal fade" id="editTenantModal" tabindex="-1" role="dialog" aria-labelledby="editTenantModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit tenant</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row m-2">
                            <div class="col-md-6">
                                <div>
                                    <header>
                                        <h5>Personal information</h5>
                                    </header>
                                    <section>
                                        <div class="form-group mt-3 mb-3">
                                            <label for="inputEditTenantFirstName">First name</label>
                                            <input class="form-control" name="first_name" type="text"
                                                id="inputEditTenantFirstName" value="placeholder_value" required>
                                            <input class="form-control" name="_id" type="hidden" id="inputEditTenant_id"
                                                value="placeholder_value" required>
                                            <input class="form-control" name="currentRoom" type="hidden"
                                                id="inputEditTenantRoom" value="placeholder_value" required>
                                            <input class="form-control" name="property" type="hidden"
                                                value="{{property._id}}" required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="inputEditTenantLastName">Last name</label>
                                            <input class="form-control" name="last_name" type="text"
                                                id="inputEditTenantLastName" value="placeholder_value" required>
                                        </div>
                                    </section>
                                </div>
                                <div>
                                    <header>
                                        <h5>Contact information</h5>
                                    </header>
                                    <section>
                                        <div class="form-group mt-3 mb-3">
                                            <label for="inputEditTenantMobile">Mobile</label>
                                            <input class="form-control" name="mobile" type="text"
                                                id="inputEditTenantMobile" value="placeholder_value" required>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label for="inputEditTenantEmail">Email</label>
                                            <input class="form-control" name="email" type="email"
                                                id="inputEditTenantEmail" value="placeholder_value" required>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <header>
                                    <h5>Room information</h5>
                                </header>
                                <section>
                                    <div class="form-group mb-3">
                                        <label class="select-label" for="selectEditTenantRoom">Room</label>
                                        <div class="form-group">
                                            <select class="form-control" name="room" id="selectEditTenantRoom"
                                                value="placeholder_value" required>
                                                {{#if rooms}}
                                                {{#each rooms }}
                                                <option value="{{_id}}" {{#if tenant}} class="occupied" disabled
                                                    {{/if}}>
                                                    {{name}} -
                                                    {{catalog.name}} - Php{{catalog.rate}}
                                                </option>
                                                {{/each}}
                                                {{else}}
                                                <option value="" disabled><span>No rooms found.</span></option>
                                                {{/if}}
                                            </select>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-custom">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete tenant modal -->
    <form action="/api/tenant/delete" method="POST">
        <div class="modal fade" id="deleteTenantModal" tabindex="-1" role="dialog" aria-labelledby="deleteTenantModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Tenant</h4>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" name="_id" id="inputDeleteTenant_id" type="hidden" required>
                        <input class="form-control" name="room" id="inputDeleteTenantRoom" type="hidden" required>
                        <input class="form-control" name="property" type="hidden" value="{{property._id}}" required>
                        <span class="font-weight-normal">Tenant information</span>
                        <div class="table-responsive">
                            <table class="table-sm table-borderless mt-2" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td class="td-title">Room</td>
                                        <td class="td-content"><span id="spanDeleteTenantRoom"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Name</td>
                                        <td class="td-content">
                                            <span id="spanDeleteTenantFirstName"></span>
                                            <span id="spanDeleteTenantLastName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Mobile</td>
                                        <td class="td-content"><span id="spanDeleteTenantMobile"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">Email</td>
                                        <td class="td-content"><span id="spanDeleteTenantEmail"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn z-depth-0 text-white" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn red darken-3 text-white">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>

{{/content}}

{{#content "extra_js"}}

<script src="/js/property.js"></script>

{{/content}}

{{/extend}}