<!--Topbar -->
<nav class="navbar navbar-expand-lg topbar z-depth-0" id="topbar">
    <!-- Title -->
    <div class="title-wrapper">
        <span class="title" id="title">
            {{header}}
        </span>
    </div>
    <!-- User -->
    <div class="btn-group">
        <div class="user" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="username">{{user.username}}</span>
            {{#if user.avatar}} <img class="photo" src="data:image/png;base64,{{user.avatar.data}}"> {{else}} <img
                class="photo" src="/images/icons/default-avatar.svg"> {{/if}}
        </div>
        <div class="dropdown-menu">
            <div class="navbar-nav">
                <div class="nav-item d-flex flex-column justify-content-center align-items-center">
                    {{#if user.avatar}}
                    <img class="avatar mt-3 mb-2" src="data:image/png;base64,{{user.avatar.data}}">
                    {{else}}
                    <img class="avatar mt-3 mb-2" src="/images/icons/default-avatar.svg">
                    {{/if}}
                    <span class="name">{{user.first_name}}
                        {{user.last_name}}</span>
                    <span class="email mb-2">{{user.email}}</span>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/account/profile">
                        <img class="icon" src="/images/icons/account_circle-white-18dp.svg" alt="">
                        Edit profile
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" href="/account/password">
                        <img class="icon" src="/images/icons/lock-white-18dp.svg" alt="">
                        Change password
                    </a>
                </div>
                <div class="nav-item">
                    <form action="/user/logout" method="POST">
                        <button class="nav-link btn z-depth-0">
                            <img class="icon" src="/images/icons/exit_to_app-white-18dp.svg" alt="">
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>