<!--Topbar -->
<nav class="navbar navbar-expand-lg topbar">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">
        Dormitory <br> Management <br> System
    </a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-collapse"
        aria-controls="navbar-nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <svg class="menu-icon" viewBox="0 0 384 384">
            <rect x="0" y="277.333" width="384" height="42.667" />
            <rect x="0" y="170.667" width="384" height="42.667" />
            <rect x="0" y="64" width="384" height="42.667" />
        </svg>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbar-nav-collapse">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/property">Property</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>

        <div class="dropdown">
            <a class="user" type="button" id="dropdownMenuMenu" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img class="avatar" {{#if user.avatar}} src="data:image/png;base64,{{user.avatar.data}}" {{else}}
                    src="/images/placeholder.png" {{/if}} alt="profile-picture">
            </a>
            <div class="dropdown-menu dropdown-menu-right z-depth-2" aria-labelledby="dropdownMenuButton">
                <div class="profile-wrapper">
                    <img src="data:image/png;base64,{{user.avatar.data}}" alt="avatar">
                    <div class="span-wrapper">
                        <span id="name">{{user.name}}</span>
                        <span id="email">{{user.email}}</span>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <a class="btn" href="#profile">Account</a>
                    <form action="/user/logout" method="POST">
                        <button class="btn" type="submit">Log out</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- User -->
        <div class="user-wrapper">
            <div class="profile-wrapper">
                <img src="data:image/png;base64,{{user.avatar.data}}" alt="avatar">
                <div class="span-wrapper">
                    <span id="name">{{user.name}}</span>
                    <span id="email">{{user.email}}</span>
                </div>
            </div>
            <div class="btn-wrapper">
                <a class="btn" href="/home">Account</a>
                <form action="/user/logout" method="POST">
                    <button class="btn" type="submit">Log out</button>
                </form>
            </div>
        </div>
    </div>
</nav>