{{#extend "layout"}}

{{#content "extra_css"}}{{/content}}

{{#content "content"}}

<main class="main main--admin">
    <section class="main-content w-100">
        <div class="page page--booking">
            <div class="container">
                <div class="row">
                    <form class="d-flex flex-column w-100" action="/api/booking/{{property.bookingId}}" method="post"
                        novalidate>
                        <div class="d-flex flex-column p-4">
                            <h2 class="mb-0 custom-color-1">{{property.name}}</h2>
                            <h6 class="font-italic">{{property.location}}</h6 class="font-italic">
                        </div>
                        <div class="w-100 custom-bg-3">
                            <!-- First tab -->
                            <div class="m-0 p-0 custom-bg-3 js-ftab">
                                <div class="custom-bg-2 pt-3 pr-4 pb-3 pl-4 rounded-top">
                                    <h5 class="mb-0 font-weight-bold">Personal information</h5>
                                </div>
                                <div class="col-md-6 p-4">
                                    <h6 class="mb-3 font-weight-normal font-italic">May we know about you?</h6>
                                    <div class="form-group mb-2">
                                        <label class="d-flex align-items-center" for="first_name">
                                            <div class="d-flex align-items-center js-first-name-indicator" ></div>
                                            First name
                                        </label>
                                        <input class="form-control js-first-name" name="first_name" type="text" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="d-flex align-items-center" for="last_name">
                                            <div class="d-flex align-items-center js-last-name-indicator" ></div>
                                            Last name
                                        </label>
                                        <input class="form-control js-last-name" name="last_name"  type="text" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="d-flex align-items-center" for="birthday">
                                            <div class="d-flex align-items-center js-birthday-indicator" ></div>
                                            Birthday
                                        </label>
                                        <input class="form-control js-birthday" name="birthday"  type="date" />
                                    </div>
                                    <h6 class="mt-4 mb-3 font-weight-normal font-italic">How can we contact
                                        you?</h6>
                                    <div class="form-group mb-2">
                                        <label class="d-flex align-items-center" for="mobile">
                                            <div class="d-flex align-items-center js-mobile-indicator"></div>
                                            Mobile
                                        </label>
                                        <input class="form-control js-mobile" name="mobile" type="number" />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label class="d-flex align-items-center" for="email">
                                            <div class="d-flex align-items-center js-email-indicator"></div>
                                            Email
                                        </label>
                                        <input class="form-control js-email" name="email" type="email" />
                                    </div>
                                    <button type="button"
                                        class="btn btn-submit mt-4 m-0 js-ftab-btn-next">Next</button>
                                </div>
                            </div>
                            <!-- Second tab -->
                            <div class="rounded js-stab">
                                <div class="custom-bg-2 pt-3 pr-4 pb-3 pl-4 rounded-top">
                                    <h5 class="mb-0 font-weight-bold">Room information</h5>
                                </div>
                                <div class="col-md-6 d-flex flex-column p-4">
                                    <h6 class="mb-3 font-weight-normal">Choose your preferred
                                        room type</h6>
                                    {{#each catalogs}}
                                    <div class="form-group mb-0">
                                        <label class="radio-label w-100" for="{{name}}" id="label_{{_id}}"
                                            onclick="radioSelected(this)" data-name="{{name}}" data-rate="{{rate}}">
                                            <div class="card mb-2 rounded-0 z-depth-0 text-dark">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{name}}</h5>
                                                    <p class="card-text mb-0">P{{rate}}/month</p>
                                                    <input type="radio" name="catalog" id="{{name}}" value="{{_id}}" />
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    {{/each}}
                                    <div class="d-flex justify-content-between mt-4">
                                        <button type="button" class="btn red darken-3 text-white m-0 mr-3 js-ftab-btn-prev">Previous</button>
                                        <button type="button" class="btn btn-submit m-0 js-stab-btn-next">Review</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Third tab -->
                            <div class="rounded js-ttab">
                                <div class="custom-bg-2 pt-3 pr-4 pb-3 pl-4 rounded-top">
                                    <h5 class="mb-0 font-weight-bold">Review</h5>
                                </div>
                                <div class="d-flex flex-column p-4">
                                    <h6 class="mb-3 font-weight-normal">Personal information</h6>
                                    <table class="table table-sm table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td class="js-td-name"></td>
                                            </tr>
                                            <tr>
                                                <td>Birthday</td>
                                                <td class="js-td-birthday"></td>
                                            </tr>
                                            <tr>
                                                <td>Mobile</td>
                                                <td class="js-td-mobile"></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td class="js-td-email"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h6 class="mb-3 font-weight-normal">Booking details</h6>
                                    <div class="">
                                        <div class="card mb-2 rounded-0 z-depth-0 bg-white">
                                            <div class="card-body">
                                                <h5 class="card-title" id="review_catalog_name"></h5>
                                                <p class="card-text mb-0" id="review_catalog_rate"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4">
                                        <button type="button" class="btn red darken-3 text-white m-0 mr-3 js-ttab-btn-prev">Previous</button>
                                        <button type="submit" class="btn btn-submit m-0">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{{/content}}

{{#content "extra_js"}}
<script src="/js/booking/script.js"></script>
{{/content}}

{{/extend}}